@font-face {
  font-family: "FasolSPDemo";
  src: url("./assets/fonts/FasolSPDemo.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Macondo&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");

:root {
  --brown: #654520;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "FasolSPDemo", sans-serif;
  background-color: #4f200d;
}

footer {
  font-family: "TikTok Sans", sans-serif;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1b0f01;
}

#content {
  margin: 0;
}

header {
  font-family: "Macondo", cursive;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  width: 100%;
  z-index: 1000;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 40px;
  color: whitesmoke;
}

header nav button {
  font-family: "TikTok Sans", sans-serif;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: whitesmoke;
  font-weight: 400;
  border-left: 2px solid gray;
  text-align: center;
  transition: all 0.1s ease-in;

  &:first-child {
    border-left: none;
  }

  &:hover {
    color: #543310;
  }
}

.home {
  position: relative;
  height: 900px;
  background-image: url(./assets/images/home1.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
  z-index: 1;
}

.containerHead {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: aliceblue;
}

.containerHead h2 {
  font-family: "TikTok Sans", sans-serif;
  font-size: 4rem;
}

.containerHead p {
  font-size: 1em;
  font-family: "TikTok Sans", sans-serif;
}

.about {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerAbout {
  height: 380px;
  width: 100%;
  background-color: #1b0f01;
  color: white;
  font-family: "TikTok Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutBody {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url(./assets/images/about1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutContent {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title,
.visit-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.about-sections {
  display: flex;
  justify-content: center;
}

/* .section-title {
  text-align: start;
} */

.about-section {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.divider {
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, transparent, #8b7355, transparent);
  margin: 25px 0;
}

.reservation {
  font-size: 12px;
}

.visit-section {
  text-align: center;
}
/* menu */
.menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerMenu {
  font-family: "TikTok Sans", sans-serif;
  height: 600px;
  padding: 20px 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(./assets/images/menu1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuCont {
  width: 100%;
  color: white;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  z-index: 2;
}

.menu-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-section h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.menu-item {
  max-width: 350px;
}

.menu-item h3 {
  font-size: 16px;
}
.menu-item p {
  font-size: 13px;
  text-align: end;
}
